@use '../../styles/utils/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.stock-analysis-filters {
  display: grid;
  gap: calc(var(--spacing) * 3);
}

.stock-analysis-chart {
  display: block;
}

.stock-analysis-summary {
  display: grid;
  gap: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 4);
}

@include up(md) {
  .stock-analysis-filters {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .stock-analysis-summary {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include up(xl) {
  .stock-analysis-filters {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .stock-analysis-summary {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.stock-analysis-table {
  display: block;
}
