@use '../../styles//utils/mixins' as *;
.dashboard-kpis {
  display: grid;
  grid-gap: calc(var(--spacing) * 4);
}
@include up(md) {
  .dashboard-kpis {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include up(xl) {
  .dashboard-kpis {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
